<ion-content padding>
<!--
  <ion-fab right top>
    <button ion-fab color="light" ion-fab (click)="goConfigurations()">
      <ion-icon name="build"></ion-icon>
    </button>
  </ion-fab>
-->
  <div>
      <div class="content">
          <div class="app-icon"></div>
          <h1>smartSensors</h1>
      </div>
  </div>

  <div *ngIf="showVerifyCode">
    <ion-item>
        <ion-label stacked>Código de Verificação</ion-label>
        <ion-input type="number" [(ngModel)]="resetCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nova Senha</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
  </div>

  <ion-list>
    <ion-item *ngIf="showLogin || showForgotten" >
      <ion-label stacked>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item *ngIf="showLogin && !showForgotten" >
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item *ngIf="showRegister">
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item *ngIf="showRegister">
      <ion-label stacked>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item *ngIf="showRegister">
      <ion-input type="password" placeholder="Senha" [(ngModel)]="password"></ion-input>
    </ion-item>

    <button round ion-item icon-right color="primary" class="ink" *ngIf="showLogin && !showForgotten" (click)="doLogin()">
      Conectar <ion-icon name="build" item-right></ion-icon>
    </button>
    <button round ion-item icon-right color="primary" class="ink" *ngIf="(showLogin && !showForgotten) || showRegister" (click)="doRegister()">
      Registrar <ion-icon name="add" item-right></ion-icon>
    </button>
    <button round ion-item icon-right color="primary" class="ink" *ngIf="showLogin || showForgotten" (click)="doForgotten()">
      Esqueci a senha <ion-icon name="bulb" item-right></ion-icon>
    </button>
    <button round ion-item icon-right color="primary" class="ink" *ngIf="showVerifyCode" (click)="doCodeVerification()">
      Trocar senha
    </button>
    <button round ion-item icon-right color="primary" class="ink" *ngIf="!showLogin || showForgotten" (click)="doGoBack()">
      Voltar
    </button>
    <!--<button ion-button color="assertive" class="ink" (click)="goGraph()">
      Facebook Session
    </button>-->
  </ion-list>



</ion-content>

<ion-footer>
  <ion-toolbar position="bottom">
    <ion-grid no-padding>
      <ion-row>
         <ion-col width-50><button ion-button clear full icon-left color="danger" (click)="doGoogleSignIn()"><ion-icon name="logo-google"></ion-icon> Google+</button></ion-col>
         <!--<ion-col width-33><button ion-button clear full icon-left color="dark" (click)="doTwitterSignIn()"><ion-icon name="logo-twitter"></ion-icon> Twitter</button></ion-col>-->
         <ion-col width-50><button ion-button clear full icon-left color="primary" (click)="doFbLogin()"><ion-icon name="logo-facebook"></ion-icon> Facebook</button></ion-col>
       </ion-row>
     </ion-grid>
  </ion-toolbar>
</ion-footer>
