<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Canais</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="channels">
      <ion-segment-button value="myChannels">
        Meus Canais
      </ion-segment-button>
      <ion-segment-button value="channelStore">
        Loja
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--<ion-fab left top>
    <app-mq-status></app-mq-status>
  </ion-fab>-->

  <div [ngSwitch]="channels">
    <ion-list *ngSwitchCase="'myChannels'"  class="cards-bg" >
      <span *ngIf="myChannels">
        <ion-card class="adv-map" *ngFor="let item of myChannels.objects; let i = index; trackBy: trackBySync" [attr.data-index]="i">
          <div *ngIf="objectLastMsgs[item._id]" style="position: relative">
            <img [src]='item.data.configurations?.image'>
            <ion-fab right bottom edge (click)="unsubscribe(item._id)">
              <button ion-fab mini color="danger"  class="fab-map">
                <ion-icon name="log-out"></ion-icon>
              </button>
            </ion-fab>
          </div>
          <ion-list *ngIf="objectLastMsgs[item._id]" (click)="openChats($event, item )">
            <ion-item-divider icon-right>
              <h2>{{item.data.configurations?.label}}
                <ion-note *ngIf="objectLastMsgs[item._id].objects.length">{{objectLastMsgs[item._id].objects.length}} novos comentários</ion-note>
                <ion-note *ngIf="!objectLastMsgs[item._id].objects.length">Sem comentários novos</ion-note>
              </h2>
              <h3>{{item.data.configurations?.description}}</h3>
              <button color="dark" ion-button icon-right item-right clear small>
                <span>{{item.relations.subscribedBy.length}}</span>
                <ion-icon name="eye" ></ion-icon>
              </button>
            </ion-item-divider>
            <ion-item *ngFor="let msg of objectLastMsgs[item._id].objects; let m = index; trackBy: trackBySync">
              <ion-avatar *ngIf="msg.data.profile != userKey" item-left>
                <img [src]="listSubscriptions[i].items[msg.data?.profile]?.data.photoURL"/>
              </ion-avatar>
              <ion-note *ngIf="msg.data.profile == userKey" item-left>{{changed(item.sync)}}</ion-note>
              <h2 [align]="(msg.data.profile == userKey)?'right':'left'">{{msg.data.message}}</h2>
              <p [align]="(msg.data.profile == userKey)?'right':'left'">{{listSubscriptions[i].items[msg.data?.profile]?.data.name}}</p>
              <ion-note *ngIf="msg.data.profile != userKey" item-right>{{changed(item.sync)}}</ion-note>
              <ion-avatar *ngIf="msg.data.profile == userKey" item-right>
                <img [src]="listSubscriptions[i].items[msg.data?.profile]?.data.photoURL"/>
              </ion-avatar>
            </ion-item>
          </ion-list>
          <ion-item *ngIf="objectLastMsgs[item._id]">
            <ion-grid no-padding class="advanced-bottom">
              <ion-row>
                <ion-col>
                  <button *ngIf="item.relations.likedBy" class="no-margin likes" ion-button full icon-left clear (click)="likeit(item._id)">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div> {{item.relations.likedBy.length}}</div>
                  </button>
                </ion-col>
                <ion-col >
                  <button *ngIf="item.relations.commentedBy" class="no-margin messages" disabled ion-button full icon-left clear color="secondary">
                    <ion-icon name="text" class="shadow"></ion-icon>
                    <div>{{item.relations.commentedBy.length}}</div>
                  </button>
                </ion-col>
                <ion-col>
                  <ion-note item-right>{{changed(item.sync)}}</ion-note>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-card>
      </span>
    </ion-list>

    <ion-list *ngSwitchCase="'channelStore'"  class="cards-bg">
      <ion-card class="adv-map" *ngFor="let item of storeChannels.objects; let i = index; trackBy: trackBySync" [attr.data-index]="i">
        <ion-item-divider icon-right>
          <ion-avatar item-left>
            <img [src]="item.data.configurations?.icon">
          </ion-avatar>
          <h2>{{item.data.configurations?.label}}</h2>
          <p>{{item.data.configurations?.description}}</p>
          <button color="dark" ion-button icon-right item-right clear small>
            <span>{{item.relations.subscribedBy.length}}</span>
            <ion-icon name="eye" ></ion-icon>
          </button>
        </ion-item-divider>
        <div style="position: relative">
          <img [src]='item.data.configurations?.image'>
          <ion-fab right bottom edge (click)="subscribe(item._id)">
            <button ion-fab mini  color="primary"  class="fab-map">
              <ion-icon name="cart"></ion-icon>
            </button>
          </ion-fab>
        </div>
        <ion-item>
          <ion-grid no-padding  class="advanced-bottom">
            <ion-row>
              <ion-col>
                <button *ngIf="item.relations.likedBy" class="no-margin likes" ion-button full icon-left clear>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div> {{item.relations.likedBy.length}}</div>
                </button>
              </ion-col>
              <ion-col >
                <button *ngIf="item.relations.commentedBy" class="no-margin messages" disabled ion-button full icon-left clear color="secondary">
                  <ion-icon name="text" class="shadow"></ion-icon>
                  <div>{{item.relations.commentedBy.length}}</div>
                </button>
              </ion-col>
              <ion-col align-self-end item-right>
                <ion-note item-right>{{changed(item.sync)}} </ion-note>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
