<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Canais</ion-title>
    <ion-buttons end>
     <button ion-button icon-only (click)="logout()">
       <ion-icon name="log-out"></ion-icon>
     </button>
   </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="channels">
      <ion-segment-button value="myChannels">
        Meus Canais
      </ion-segment-button>
      <ion-segment-button value="channelStore">
        Loja
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--<ion-fab left top>
    <app-mq-status></app-mq-status>
  </ion-fab>-->

  <div [ngSwitch]="channels">
    <ion-list *ngSwitchCase="'myChannels'"  class="cards-bg">
      <ion-card class="adv-map" *ngFor="let item of myChannels.objects; let i = index; trackBy: trackBySync" [attr.data-index]="i">
        <div style="position: relative">
          <img [src]='item.data.configurations?.image'>
          <ion-fab right bottom edge (click)="unsubscribe(item._id)">
            <button ion-fab mini class="fab-map">
              <ion-icon name="log-out"></ion-icon>
            </button>
          </ion-fab>
        </div>
        <ion-item-divider icon-right color="light" (click)="openChats($event, item )">
          <ion-avatar item-left>
            <img [src]="item.data.configurations?.icon">
          </ion-avatar>
          <h2>{{item.data.configurations?.label}}</h2>
          <p>{{item.data.configurations?.description}}</p>
          <button color="light" ion-button icon-right item-right clear small>
            <span>{{item.relations.subscribedBy.length}}</span>
            <ion-icon name="eye" ></ion-icon>
          </button>
        </ion-item-divider>
        <ion-list>
          <ion-item-divider *ngIf="objectLastMsgs[item._id].objects.length">
            Últimos comentários
          </ion-item-divider>
          <ion-item-divider *ngIf="!objectLastMsgs[item._id].objects.length">
            Sem comentários novos
          </ion-item-divider>
          <ion-item *ngFor="let msg of objectLastMsgs[item._id].objects; let m = index; trackBy: trackBySync">
            <ion-avatar item-left>
              <img src="assets/icons/img/mike.png">
            </ion-avatar>
            <h2>{{msg.data.message}}</h2>
            <p>{{item.data.profile}}</p>
            <ion-note item-right>{{changed(item.sync)}} min</ion-note>
          </ion-item>
          <ion-item>
            <ion-grid no-padding  class="advanced-bottom">
              <ion-row>
                <ion-col>
                  <button class="no-margin likes" ion-button full icon-left clear>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div> {{item.data.likes}}</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button class="no-margin messages" ion-button full icon-left clear color="secondary">
                    <ion-icon name="text" class="shadow"></ion-icon>
                    <div>{{item.data.comments}}</div>
                  </button>
                </ion-col>
                <ion-col>
                  <ion-note item-right>{{changed(item.sync)}} min </ion-note>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'channelStore'"  class="cards-bg">
      <ion-card class="adv-map" *ngFor="let item of storeChannels.objects; let i = index; trackBy: trackBySync" [attr.data-index]="i">
        <div style="position: relative">
          <img [src]='item.data.configurations?.image'>
          <ion-fab right bottom edge (click)="subscribe(item._id)">
            <button ion-fab mini class="fab-map">
              <ion-icon name="cart"></ion-icon>
            </button>
          </ion-fab>
        </div>
        <ion-item-divider icon-right color="light">
          <ion-avatar item-left>
            <img [src]="item.data.configurations?.icon">
          </ion-avatar>
          <h2>{{item.data.configurations?.label}}</h2>
          <p>{{item.data.configurations?.description}}</p>
          <button color="light" ion-button icon-right item-right clear small>
            <span>{{item.relations.subscribedBy.length}}</span>
            <ion-icon name="eye" ></ion-icon>
          </button>
        </ion-item-divider>
        <ion-item>
          <ion-grid no-padding  class="advanced-bottom">
            <ion-row>
              <ion-col>
                <button class="no-margin likes" ion-button full icon-left clear>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div> {{item.data.likes}}</div>
                </button>
              </ion-col>
              <ion-col>
                <button class="no-margin messages" ion-button full icon-left clear color="secondary">
                  <ion-icon name="text" class="shadow"></ion-icon>
                  <div>{{item.data.comments}}</div>
                </button>
              </ion-col>
              <ion-col align-self-end item-right>
                <ion-note item-right>{{changed(item.sync)}} min </ion-note>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
