<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment  [(ngModel)]="selectedSegment">
      <ion-segment-button value="configurations">
        Configurações
      </ion-segment-button>
      <ion-segment-button value="relations">
        Associações
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--<div [hidden]="submitted">-->
    <form novalidate [formGroup]="knowledgeForm" >
      <div [ngSwitch]="selectedSegment">
        <ion-list *ngSwitchCase="'configurations'">
          <ion-item-divider icon-right color="light" class="header-btn" (click)="showConnection = !showConnection">
            Conexão
            <ion-icon name="arrow-dropright" *ngIf="!showConnection" item-right></ion-icon>
            <ion-icon name="arrow-dropdown"  *ngIf="showConnection" item-right></ion-icon>
          </ion-item-divider>
          <ion-item-group formGroupName="connection" *ngIf="showConnection">
            <!-- name attribute -->
            <ion-item>
              <ion-label>IP</ion-label>
              <ion-input type="text" formControlName="host"></ion-input>
            </ion-item>
            <!-- label attribute -->
            <ion-item>
              <ion-label>Porta</ion-label>
              <ion-input type="number" min="0" max="9999" formControlName="port"></ion-input>
            </ion-item>
          </ion-item-group>
          <!-- geo attribute -->
          <ion-item-group no-lines formGroupName="location">
            <ion-item-divider (click)="geoLocate()" color="light" class="header-btn">
              Localização
              <ion-icon name="locate" item-right></ion-icon>
            </ion-item-divider>
            <ion-item>
              <ion-label>Endereço</ion-label>
              <ion-input type="text" formControlName="text" placeholder="Endereço"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Coordenadas</ion-label>
              <ion-input type="text" disabled formControlName="coordinates" placeholder="latlng"></ion-input>
            </ion-item>
          </ion-item-group>
          <span formGroupName="data">
            <ion-item-divider icon-right color="light" class="header-btn" (click)="showConfigurations = !showConfigurations">
              Configurações
              <ion-icon name="arrow-dropright" *ngIf="!showConfigurations" item-right></ion-icon>
              <ion-icon name="arrow-dropdown"  *ngIf="showConfigurations" item-right></ion-icon>
            </ion-item-divider>
            <span formArrayName="configurations" *ngIf="showConfigurations">
              <ion-item-group no-lines inset class="form-group" [formGroupName]="i" *ngFor="let item of knowledgeForm.controls.data.controls.configurations.controls; let i = index">
                <ion-item-sliding>
                  <ion-item icon-right (click)="listConfigurations[i] = !listConfigurations[i]">
                    <span *ngIf="!item.value.name">Item </span>
                    <span *ngIf="item.value.type === 'boolean'"> {{(item.value.value)?"true":"false"}}  </span>
                    <span *ngIf="item.value.type !== 'boolean'"> {{item.value.value}}  </span>
                    <ion-note> {{item.value.name}} </ion-note>

                    <ion-icon name="arrow-dropright" *ngIf="!listConfigurations[i]" item-right></ion-icon>
                    <ion-icon name="arrow-dropdown"  *ngIf="listConfigurations[i]" item-right></ion-icon>
                  </ion-item>
                  <ion-item-options side="left">
                    <button ion-button color="danger" (click)="removeItem('configurations', i)">
                      <ion-icon name="trash" large></ion-icon>
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
                <ion-item *ngIf="listConfigurations[i] && !selectedItem">
                  <ion-label>Atributo: </ion-label>
                  <ion-input type="text" formControlName="name" placeholder="Atributo"></ion-input>
                </ion-item>
                <ion-item *ngIf="listConfigurations[i] && !selectedItem">
                  <ion-label>Tipo: </ion-label>
                  <ion-input type="text" formControlName="type" placeholder="Tipo"></ion-input>
                </ion-item>
                <ion-item *ngIf="listConfigurations[i] && !(item.value.type==='boolean')">
                  <ion-label>Valor: </ion-label>
                  <ion-input type="text" formControlName="value" placeholder="Valor"></ion-input>
                </ion-item>
                <ion-item *ngIf="listConfigurations[i] && (item.value.type==='boolean')">
                  <ion-label>Valor: </ion-label>
                  <ion-toggle formControlName="value"></ion-toggle>
                </ion-item>
              </ion-item-group>
              <ion-item>
                  <button ion-button block color="primary" icon-left (click)="addItem('configurations')">
                    <ion-icon name="add" large></ion-icon>  Incluir Configuração
                  </button>
              </ion-item>
            </span>
            <ion-item-divider color="light" class="header-btn" (click)="showBasics = !showBasics">
              Atributos Básicos
              <ion-icon name="arrow-dropright" *ngIf="!showBasics" item-right></ion-icon>
              <ion-icon name="arrow-dropdown"  *ngIf="showBasics" item-right></ion-icon>
            </ion-item-divider>
            <ion-item-group *ngIf="showBasics">
              <!-- name attribute -->
              <ion-item>
                <ion-label>Nome</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
              </ion-item>
              <!-- label attribute -->
              <ion-item>
                <ion-label>Label</ion-label>
                <ion-input type="text" formControlName="label"></ion-input>
              </ion-item>
              <!-- description attribute -->
              <ion-item>
                <ion-label>Descrição</ion-label>
                <ion-textarea formControlName="description"></ion-textarea>
              </ion-item>
              <!-- image attribute -->
              <ion-item>
                <ion-label>Imagem</ion-label>
                <ion-input type="text" formControlName="image" disabled></ion-input>
              </ion-item>
              <!-- icon attribute -->
              <ion-item>
                <ion-label>Ícone</ion-label>
                <ion-input type="text" formControlName="icon" disabled></ion-input>
              </ion-item>
              <!-- acesso attribute -->
              <!--<ion-item>
                <ion-label>Acesso</ion-label>
                <ion-input type="text" formControlName="access" disabled></ion-input>
              </ion-item>-->
            </ion-item-group>
            <!-- info array -->
            <ion-item-divider icon-right color="light" class="header-btn"  (click)="showInfo = !showInfo">
              Outros Atributos
              <ion-icon name="arrow-dropright" *ngIf="!showInfo" item-right></ion-icon>
              <ion-icon name="arrow-dropdown"  *ngIf="showInfo" item-right></ion-icon>
            </ion-item-divider>
            <span formArrayName="info"  *ngIf="showInfo">
                <ion-item-group inset no-lines class="form-group" [formGroupName]="i" *ngFor="let item of knowledgeForm.controls.data.controls.info.controls; let i = index">
                    <ion-item-sliding>
                      <ion-item color="primary" clear>
                        <span *ngIf="!item.value.name">Item </span>{{item.value.name}} <ion-note> {{item.value.type}} </ion-note>
                      </ion-item>
                      <ion-item-options side="left">
                        <button ion-button color="danger" (click)="removeItem('info', i)">
                          <ion-icon name="trash" large></ion-icon>
                        </button>
                      </ion-item-options>
                    </ion-item-sliding>
                    <ion-item >
                      <ion-label stacked >Atributo</ion-label>
                      <ion-input type="text" formControlName="name"></ion-input>
                    </ion-item>
                    <ion-item >
                      <ion-label stacked >Tipo</ion-label>
                      <ion-input type="text" formControlName="type"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label stacked >Valor</ion-label>
                      <ion-input type="text" formControlName="value"></ion-input>
                    </ion-item>
                </ion-item-group>
                <ion-item>
                    <button ion-button block color="primary" icon-left (click)="addItem('info')">
                      <ion-icon name="add" large ></ion-icon> Incluir Atributo
                    </button>
                </ion-item>
            </span>
          </span>
        </ion-list>

        <ion-list  *ngSwitchCase="'relations'">
          <span formGroupName="relations">
            <ion-item-divider icon-right color="light"> Associações</ion-item-divider>
            <ion-list inset formArrayName="ownedBy">
              <ion-item class="header-btn" icon-right (click)="selectComponent(knowledgeForm.controls.relations.controls.ownedBy.controls, 'profile')">
                Administradores
                <ion-icon name="add" item-right></ion-icon>
              </ion-item>
              <ion-item-group class="form-group" [formGroupName]="i" *ngFor="let item of knowledgeForm.controls.relations.controls.ownedBy.controls; let i = index">
                <ion-item-sliding>
                  <ion-item icon-right color="light">
                    {{item.value.id}}
                  </ion-item>
                  <ion-item-options side="left">
                    <button ion-button color="danger" (click)="removeAssociation(knowledgeForm.controls.relations.controls.ownedBy.controls,i)">
                      <ion-icon name="trash" large></ion-icon>
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-item-group>
            </ion-list>
            <ion-list inset formArrayName="presentedBy">
              <ion-item class="header-btn" (click)="selectComponent(knowledgeForm.controls.relations.controls.presentedBy.controls, 'channel')">
                Canais de Publicação
                <ion-icon name="add" item-right></ion-icon>
              </ion-item>
              <ion-item-group class="form-group" [formGroupName]="i" *ngFor="let item of knowledgeForm.controls.relations.controls.presentedBy.controls; let i = index">
                <ion-item-sliding>
                  <ion-item icon-right color="light">
                    {{item.value.id}}
                  </ion-item>
                  <ion-item-options side="left">
                    <button ion-button color="danger" (click)="removeAssociation(knowledgeForm.controls.relations.controls.presentedBy.controls,i)">
                      <ion-icon name="trash" large></ion-icon>
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-item-group>
              <!--<button ion-item color="primary" >Selecionar Componente Master</button>-->
            </ion-list>
            <ion-list inset formArrayName="abstractions">
              <ion-item class="header-btn" (click)="selectComponent(knowledgeForm.controls.relations.controls.abstractions.controls, 'equipment')">
                Abstrações
                <ion-icon name="add" item-right></ion-icon>
              </ion-item>
              <ion-item-group class="form-group" [formGroupName]="i" *ngFor="let item of knowledgeForm.controls.relations.controls.abstractions.controls; let i = index">
                <ion-item-sliding>
                  <ion-item icon-right color="light">
                    {{item.value.id}}
                  </ion-item>
                  <ion-item-options side="left">
                    <button ion-button color="danger" (click)="removeAssociation(knowledgeForm.controls.relations.controls.abstractions.controls,i)">
                      <ion-icon name="trash" large></ion-icon>
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-item-group>
              <!--<button ion-item color="primary" >Selecionar Componente Master</button>-->
            </ion-list>
            <ion-list inset formArrayName="elements">
              <ion-item class="header-btn" (click)="selectComponent(knowledgeForm.controls.relations.controls.elements.controls, 'equipment')">
                Elementos
                <ion-icon name="add" item-right></ion-icon>
              </ion-item>
              <ion-item-group class="form-group" [formGroupName]="i" *ngFor="let item of knowledgeForm.controls.relations.controls.elements.controls; let i = index">
                <ion-item-sliding>
                  <ion-item icon-right color="light">
                    {{item.value.id}}
                  </ion-item>
                  <ion-item-options side="left">
                    <button ion-button color="danger" (click)="removeAssociation(knowledgeForm.controls.relations.controls.elements.controls,i)">
                      <ion-icon name="trash" large></ion-icon>
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-item-group>
              <!--<button ion-item color="primary" >Selecionar Componente Master</button>-->
            </ion-list>
            <!--<button ion-item color="primary" (click)="addRelation('formOwnedByArray')">Incluir</button>-->
            <ion-list inset formArrayName="subscribedBy">
              <ion-item class="header-btn" icon-right (click)="selectComponent(knowledgeForm.controls.relations.controls.subscribedBy.controls, 'channel')">
                Assinaturas
                <ion-icon name="add" item-right></ion-icon>
              </ion-item>
              <ion-item-group class="form-group" [formGroupName]="i" *ngFor="let item of knowledgeForm.controls.relations.controls.subscribedBy.controls; let i = index">
                  <ion-item-sliding>
                    <ion-item icon-right color="light">
                      {{item.value.id}}
                    </ion-item>
                    <ion-item-options side="left">
                      <button ion-button color="danger" (click)="removeAssociation(knowledgeForm.controls.relations.controls.subscribedBy.controls,i)">
                        <ion-icon name="trash" large></ion-icon>
                      </button>
                    </ion-item-options>
                  </ion-item-sliding>
              </ion-item-group>
            </ion-list>
            <!--<button ion-item color="primary" (click)="addRelation('formSubscribedByArray')">Incluir</button>-->
          </span>
        </ion-list>
      </div>

      <ion-fab bottom right class="fixed-fab">
        <button ion-fab color="light"><ion-icon name="send"></ion-icon></button>
        <ion-fab-list side="left">
          <button ion-fab color="secondary" (click)="onSubmit()" ><ion-icon name="send"></ion-icon></button>
          <!--<button ion-fab color="light" (click)="newHero(); knowledgeForm.reset()"><ion-icon name="logo-googleplus"></ion-icon></button>-->
        </ion-fab-list>
      </ion-fab>
    </form>
  <!--</div>-->
</ion-content>
